<?php
/*********
 *
 * settings.inc.php
 * 
 * Settings for archive-accounting php scripts
 * 
 * Joe Leigh 2015
 *
 *********/

define("TITLE", "IGB Biocluster Archive Accounting");

define("MYSQL_HOST", "");
define("MYSQL_USER", "");
define("MYSQL_PASSWORD", "");
define("MYSQL_DATABASE", "");
define("MYSQL_PORT",3306);
define("MYSQL_SSL",false);

define("LDAP_HOST","");
define("LDAP_BASE_DN","");
define("LDAP_PEOPLE_OU","");
define("LDAP_GROUP_OU","");
define("LDAP_BIND_USER","");
define("LDAP_BIND_PASS","");
define("LDAP_SSL",false);
define("LDAP_TLS",false);
define("LDAP_PORT",389);


define("ADMIN_EMAIL","");
define("SESSION_NAME","archive_accounting");
define("SESSION_TIMEOUT",3600);

define("USE_BUCKETS", false);
define("DS3_ENDPOINT","");
define("DS3_ACCESS_KEY","");
define("DS3_SECRET_KEY","");
define("ARCHIVE_DIR", "");
define("ROOT_DATA_DIRS", "");

define("ENABLE_LOG",false);
define("LOG_FILE","");
